<div id="content">
    <resume-header [resume]='resume'></resume-header>  

    <resume-objective [objective]='resume.objective'></resume-objective>

    <resume-aboutme [aboutme]='resume.aboutme'></resume-aboutme>

    <resume-skills [skills]='resume.skills'></resume-skills>

    <resume-frameworks [frameworks]='resume.frameworks'></resume-frameworks>

    <resume-projects [projects]='resume.projects'></resume-projects>

    <resume-personal-projects [personalProjects]='resume.personalProjects'></resume-personal-projects>

    <resume-experience [experience]='resume.experience'></resume-experience>

    <resume-education [education]='resume.education'></resume-education>
</div>